@keyframes disappear
{
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear
{
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-trans 
{
  0% {
  opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide-trans
{
  0% {
  opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.disappear 
{
  animation: disappear 1s;
}
.appear 
{
  animation: appear 1s forwards;
}
.show 
{
  animation: show-trans 1s forwards;
}
.hide 
{
  animation: hide-trans 1s forwards;
}