
/* Mobile */
@media (max-width: 1024px) 
{
:root 
{

    --flag-height: 100px;
    --flag-width: 200px;

  --h1-size: 55px;
  --h1-margin: 30px;
  --h1-margin-top: 50px;
  --h1-margin-bottom: 50px;
  --h2-size: 35px;

  --background-height: 75vh;
  --background-margin: 20px;
  --background-padding: 20px;
}
}

/* Laptop */
@media (min-width: 1024px)
{
:root {

  --flag-height: 75px;
  --flag-width: 150px;

  --h1-size: 80px;
  --h1-margin: 30px;
  --h1-margin-top: 50px;
  --h1-margin-bottom: 50px;
  --h2-size: 50px;

  --background-height: 55vh;
  --background-margin: 100px;
  --background-padding: 50px;
}
}


/* ##################
### CONTAINER 
################## */

.container-center-row
{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}

.container-center-row img
{
    max-width: var(--flag-width);
    max-height: var(--flag-height);
}

/* ##################
### TEXT 
################## */

h1 
{
    font-size: var(--h1-size);
    font-family: "Title", sans-serif;
    font-weight: bold;
    color:#fd6c72;
    margin: var(--h1-margin);
    margin-top: var(--h1-margin-top);
    margin-bottom: var(--h1-margin-bottom);
}

h2
{
    font-size: var(--h2-size);
    font-family: "Title", sans-serif;
    font-weight: bold;
    color:#280f92;
    margin: 20px;
}

p
{
    font-size: 20px;
    font-family: "Text", sans-serif;
    color:#280f92;
    margin: 5px;
}

/* ##################
### GLOBAL 
################## */

.page 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.footer {
    margin-top: auto;
    padding: 16px;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}

.background 
{
    background :white;
    min-height: var(--background-height);
    
    display: grid;
    place-items: center;
    align-items: start;

    border: 2px solid #ffffff;
    border-radius: 20px;
    margin: var(--background-margin);
    box-shadow: 5px 3px 20px black;

    padding-top: var(--background-padding);
    padding-bottom: var(--background-padding);
}


html 
{
    background: #ff1fcb;
    background: linear-gradient(135deg, rgba(255, 31, 203, 1) 0%, rgba(255, 217, 196, 1) 50%, rgba(80, 31, 255, 1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* ##################
### CUSTOM FONT 
################## */

@font-face {
    font-family: "Title";
    src: url("../res/CyGroteskWide-Light.woff2") format("woff2"),
        url("../res/CyGroteskWide-Light.woff") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "Title";
    src: url("../res/CyGroteskWide-Bold.woff2") format("woff2"),
        url("../res/CyGroteskWide-Bold.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "Text";
    src: url("../res/Agrandir-Regular.woff2") format("woff2"),
        url("../res/Agrandir-Regular.woff") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "Text";
    src: url("../res/Agrandir-TextBold.woff2") format("woff2"),
        url("../res/Agrandir-TextBold.woff") format("woff");
    font-weight: bold;
}

