@import "variables.css";
@import "animations.css";

/* ##################
### TEXT 
################## */


h1 
{
  margin: var(--h1-margin);
  font-size: var(--h1-size);
  font-family: "Title", sans-serif;
  font-weight: bold;
  color:#fd6c72;
  text-align: center;
  max-width: 90vw;
}

h2
{
  margin: var(--h2-margin);
  font-size: var(--h2-size);
  font-family: "Title", sans-serif;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  max-width: 90vw;
}

p
{
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: var(--p-size);
  font-family: "Text", sans-serif;
  color:var(--text-color);
  text-align: justify;
  line-height: 22px;
  max-width: 90vw;
}

a 
{
  margin: 5px;
  font-size: var(--p-size);
  font-family: "Text", sans-serif;
  color:var(--text-color);
  text-align: center;
  text-decoration: none;
  max-width: 90vw;
}


/* ##################
### GLOBAL 
################## */


.navbar 
{
  background-color: #ffffff;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.menu 
{
  list-style: none;
  display: flex;
  padding: 0px var(--menu-padding-x);
  justify-content: var(--menu-center);
  gap: var(--menu-gap);
}
.menu a 
{
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}
.menu a:hover { color: #00bcd4; }

.page-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.footer 
{
  padding: 16px;
  text-align: center;
  font-size: 0.9rem;
}
.footer a 
{
  text-align: center;
  text-decoration: underline;
  width: 100%;
  max-width: 100%;
}
.footer p
{
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.page-background 
{
  margin: var(--background-margin);
  margin-bottom: calc(var(--background-margin) * 0.5);
  margin-top: calc(var(--background-margin) * 0.25);


  background :white;
  min-height: var(--background-height);


  border: 2px solid #ffffff;
  border-radius: 20px;
  box-shadow: 5px 3px 20px black;


  padding-top: var(--background-padding);
  padding-bottom: var(--background-padding);


  display: grid;
  opacity: 0;
  place-items: center;
  align-items: start;
}

button
{
  margin: 0;
  padding: 0;
  background-color: white;
  border: white 0px;
  border-radius: 5px;
}

html 
{
  background: linear-gradient(135deg, rgba(255, 31, 203, 1) 0%, rgba(255, 217, 196, 1) 50%, rgba(80, 31, 255, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0;
}

/* ##################
### CONTAINER 
################## */

.ico 
{
  max-width: var(--ico-width);
  max-height: var(--ico-height);
}
img 
{
  border-radius: 10px;
  max-width: 300px;
}
.flag img
{
  max-width: var(--flag-width);
  max-height: var(--flag-height);
}
.flag-small img
{
  max-width: var(--flag-width);
  max-height: var(--flag-height);
}

.container-center-row
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--container-gap);
}
.container-center-row-independant
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--container-gap);
}

.container-center-col
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--container-gap);
}
.container-center-col-independant
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--container-gap);
}
.shadow,
.double-container-center .container-center-col, .double-container-center .container-center-row
{
  animation: unhover-shadow 0.5s forwards;
}
.shadow:hover,
.double-container-center .container-center-col:hover, .double-container-center .container-center-row:hover
{
  animation: hover-shadow 1s forwards;
}

.double-container-center 
{
  margin: var(--double-container-margin);
  display: flex;
  flex-direction: var(--double-container-direction);
  align-items: center;
  justify-content: center;
  gap: var(--double-container-gap);
}
.double-container-center .container-center-col, .double-container-center .container-center-row { 
  gap: 0px; 
  padding: 10px;
  max-width: var(--double-container-subcontainer-width);
  border-radius: 20px;

}

/* ##################
### POP UP
################## */

.pop-up-bar
{
  width: calc(100% + 20px);
  height: 5px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;

  border-radius: 0px 0px 5px 5px;

  background-color: rgb(91, 188, 91);
}
.pop-up 
{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  text-align: center;

  padding: 10px;
  bottom: 0px;
  left: 50%;
  min-width: 200px;
  width: fit-content;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.4);

  z-index: 9999; 
}
.pop-up p 
{
  margin: 0px;
  text-align: center;
}

/* ##################
### CUSTOM FONT 
################## */

@font-face {
    font-family: "Title";
    src: url("../res/CyGroteskWide-Light.woff2") format("woff2"),
        url("../res/CyGroteskWide-Light.woff") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "Title";
    src: url("../res/CyGroteskWide-Bold.woff2") format("woff2"),
        url("../res/CyGroteskWide-Bold.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "Text";
    src: url("../res/Agrandir-Regular.woff2") format("woff2"),
        url("../res/Agrandir-Regular.woff") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "Text";
    src: url("../res/Agrandir-Bold.woff2") format("woff2"),
        url("../res/Agrandir-Bold.woff") format("woff");
    font-weight: bold;
}

