.flag 
{
    max-width: 200px;
    max-height: 100px;
}

.container-center 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 10px;
}

html 
{
    background-image: linear-gradient(
        to bottom, rgb(0, 0, 170), 10%, 
        black, 90%, 
        rgb(0, 0, 170));
    background-attachment: fixed;
    background-repeat: no-repeat;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

