:root 
{
  --text-color: #280f92;
}

/* Mobile */
@media (max-width: 1024px) 
{
:root 
{
  --ico-height: 35px;
  --ico-width: 35px;
  --flag-height: 100px;
  --flag-width: 200px;

  --h1-size: calc(40px + 1vw);
  --h1-margin: 10px;
  --h2-size: calc(25px + 1vw);
  --h2-margin: 5px;
  --p-size: calc(15px + 1vw);

  --container-gap: 10px;
  --double-container-direction: column;
  --double-container-margin: 10px;
  --double-container-gap: 20px;
  --double-container-subcontainer-shadow: 5px 3px 20px rgba(0, 0, 0, 0.1);
  --double-container-subcontainer-width: 75vw;

  --menu-gap: 0px;
  --menu-padding-x: 0px;
  --menu-center: center;
  --background-height: 80vh;
  --background-margin: 0px;
  --background-padding: 20px;
}
}

/* Laptop */
@media (min-width: 1024px)
{
:root 
{

  --ico-height: 35px;
  --ico-width: 35px;
  --flag-height: 75px;
  --flag-width: 150px;

  --h1-size: 80px;
  --h1-margin: 15px;
  --h2-size: 50px;
  --h2-margin: 10px;
  --p-size: 20px;

  --container-gap: 10px;
  --double-container-direction: row;
  --double-container-margin: 30px;
  --double-container-gap: 50px;
  --double-container-subcontainer-shadow: 5px 3px 20px rgba(0, 0, 0, 0.1);
  --double-container-subcontainer-width: 30vw;

  --menu-gap: 30px;
  --menu-padding-x: 30px;
  --menu-center: none;
  --background-height: 55vh;
  --background-margin: 100px;
  --background-padding: 50px;
}
}